@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Criar conta";
}

<div class="d-flex">
    <div>
        <div class="content" >
            <h1>Fans</h1>
            <p>Apoia as tuas ventoinhas favoritas</p>
        </div>
    </div>
    <div class="loginForm">
        <form action="" method="post">
            <p>Cria uma conta agora</p>
            <input type="text" name="" id="" placeholder="Nome de utilizador">
            <input type="email" name="" id="" placeholder="Email">
            <input type="password" name="" id="" placeholder="Password">
            <input type="submit" value="Criar conta">
            <p>Tens conta? <a href="/login">Faz login</a></p>
        </form>
    </div>
</div>