@model IEnumerable<Fans.Models.Posts>
@{
    ViewData["Title"] = "Início";
}

@section Styles {
    <link rel="stylesheet" href="~/css/posts.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<section id="posts">
    <!-- render posts !-->
    <section id="posts">
        @if (Model.Count() <= 0)
        {
            @await Component.InvokeAsync("ViewPost", new { PostId = 1 })
        }
        else
        {
            @foreach (var post in Model)
            {

            }
        }

    </section>
</section>
