.post-container {
    display: flex;
    border-radius: 10px;
    gap: 10px;

    padding: 10px 100px;
}

.post-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post-container>img {
    border-radius: 50%;
}

.post-body .post-content img {
    object-fit: cover;
    height: 250px;
    max-width: 512px;
    max-height: 500px;
    object-position: 50% 50%;
}

.post-content p {
    padding: 0 0 15px 0;
}

.post-interaction {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.post-interaction>span {
    cursor: pointer;
    color: var(--text);
}

.post-interaction>span>svg {
    stroke: var(--text);
}

.post-create-container {
    width: 100%;
    padding: 10px 100px;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
}

.post-create-container img {
    border-radius: 50%;
}

.post-create-container .post-create-body {
    flex: 1;
}

.post-create-container>.post-create-body div#postContent {
    position: relative;
    min-height: 55px;
    max-height: 100px;

    width: 100%;
    text-align: left;
    overflow-x: hidden;

    word-break: break-word;
    color: var(--text);
}

.post-create-container .post-content-container {
    position: relative;
}

.post-create-container .counter {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
    color: white;
}

.post-create-container .post-create-buttons {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-create-buttons span svg g line,
.post-create-buttons span#sendPost svg path {
    stroke: var(--text);
}