@import url("https://fonts.googleapis.com/css?family=Palanquin:700|Palanquin:400");

body {
	font-family: "Palanquin";
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Palanquin";
	font-weight: 700;
}

html,
p {
	font-size: 100%;
}

/* 16px */

h1 {
	font-size: 4.21rem;
	/* 67.36px */
}

h2 {
	font-size: 3.158rem;
	/* 50.56px */
}

h3 {
	font-size: 2.369rem;
	/* 37.92px */
}

h4 {
	font-size: 1.777rem;
	/* 28.48px */
}

h5 {
	font-size: 1.333rem;
	/* 21.28px */
}

small {
	font-size: 0.75rem;
	/* 12px */
}

@media (prefers-color-scheme: light) {
	:root {
		--text: #050316;
		--textLight: #ebe9fc;
		--background: #fbfbfe;

		--background-overlay: rgba(251, 251, 254, 0.5);

		--primary: #2f27ce;
		--secondary: #dddbff;
		--accent: #443dff;

		--alert-color: #58151c;
		--alert-bg: #f8d7da;
		--alert-border-color: #f1aeb5;
		--alert-link-color: #58151c;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #ebe9fc;
		--textLight: #ebe9fc;

		--background: #010104;
		--background-overlay: rgba(1, 1, 4, 0.5);

		--primary: #3a31d8;
		--secondary: #020024;
		--accent: #0600c2;

		--alert-color: #f8d7da;
		--alert-bg: #58151c;
		--alert-border-color: #803f44;
		--alert-link-color: #58151c;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	overflow: hidden;
}

html,
body {
	max-width: 100vw;
	height: 100%;
	background-color: var(--background);
}

body {
	overflow-x: hidden;
	overflow-y: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
input {
	color: var(--text);
}